<%- include("partials/header"); -%>

<h1>Home</h1>
<p> <%= content %> </p>
<% postItems.forEach(function(post) { %>
  <div class="item">
    <h1><%= post.title %></h1>
    <p><%= post.body.substring(0, 100) + " ... " %>
      <a href="/posts/<%= post.title %>">Read More</a>
    </p>
  </div>
<% }) %>

<%- include("partials/footer"); -%>
